@model IEnumerable<ExpeditionAllViewModel>

<link rel="stylesheet" href="~/css/Expedition/allStyle.css" />

@if (Model.Any())
{
	<table class="table">
		<thead>
		<tr>
			<th>Име</th>
			<th>Начална дата</th>
			<th>Крайна дата</th>
			<th>Цена</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var expedition in Model)
		{
			<tr>
				<td>@expedition.Name</td>
				<td>@expedition.StartDate</td>
				<td>@expedition.EndDate</td>
				<td>@Html.DisplayFor(modelItem => expedition.Price)</td>
				<td>
					<a href="@Url.Action("Details", "Expedition", new { id = expedition.Id })" class="btn btn-primary">Детайли</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
else
{
	<p>В момента няма налични експедиции!</p>
}