@model IEnumerable<ExpeditionAllViewModel>

@if (Model != null && Model.Any())
{
	<table class="table">
		<thead>
		<tr>
			<th>Име</th>
			<th>Начална дата</th>
			<th>Крайна дата</th>
			<th>Цена</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var expedition in Model)
		{
			<tr>
				<td>@expedition.Name</td>
				<td>@expedition.StartDate</td>
				<td>@expedition.EndDate</td>
				<td>@Html.DisplayFor(modelItem => expedition.Price)</td>
				<td>
					<a href="@Url.Action("Details", "Expedition", new { id = expedition.Id })" class="btn btn-primary">Детайли</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
else
{
	<p>В момента няма налични експедиции!</p>
}

<style>
	.table {
		width: 100%;
		border-collapse: collapse;
	}

		.table th, .table td {
			padding: 8px;
			text-align: left;
			border-bottom: 1px solid #ddd;
		}

		.table th {
			background-color: #f2f2f2;
		}

		.table tbody tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		.table tbody tr:hover {
			background-color: #ddd;
		}

	.btn-primary {
		background-color: #007bff;
		border-color: #007bff;
		color: #fff;
	}

		.btn-primary:hover {
			background-color: #0056b3;
			border-color: #0056b3;
		}
</style>