@model HutDetailsViewModel

@{
	ViewBag.Title = "Информация за хижа";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="card">
	@if (!string.IsNullOrEmpty(Model.ImageUrl))
	{
		<img src="@Model.ImageUrl" class="card-img-top" alt="Hut Image">
	}
	<div class="card-body">
		<h5 class="card-title text-center">@Model.Name</h5>
		<p class="card-text">
			<strong>Description:</strong> @Model.Description
		</p>
		<p class="card-text">
			<strong>Work Time:</strong> @Model.WorkTime
		</p>
		<p class="card-text">
			<strong>Places:</strong> @Model.Places
		</p>
		<p class="card-text">
			<strong>Camping:</strong> @Model.Camping
		</p>
		<p class="card-text">
			<strong>Altitude:</strong> @(Model.Altitude.HasValue ? Model.Altitude.Value.ToString() : "N/A")
		</p>
		<p class="card-text">
			<strong>Has Bathroom:</strong> @Model.HasBathroom
		</p>
		<p class="card-text">
			<strong>Has Toilet:</strong> @Model.HasToilet
		</p>
		<p class="card-text">
			<strong>Has Canteen:</strong> @Model.HasCanteen
		</p>
		@if (!string.IsNullOrEmpty(Model.Phone))
		{
			<p class="card-text">
				<strong>Phone:</strong> @Model.Phone
			</p>
		}
		<p class="card-text">
			<strong>Mountain:</strong> @Model.MountainName
		</p>
		<p class="card-text">
			<i class="fa-solid fa-route" style="color: #74C0FC;"></i> 
			<strong>Маршрути:</strong>
			<a asp-controller="Hut" asp-action="GetRoutesToHut" asp-route-id="@Model.Id" class="btn-details">Виж</a>
		</p>
	</div>
	@if (User.IsAdmin() || User.IsMountaineer() || User.IsTourAgency())
	{
		<div class="card-footer">
			<a asp-action="All" class="btn btn-secondary">Назад</a>
			<a asp-controller="Hut" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактирай</a>
			<a asp-controller="Hut" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Изтрий</a>
		</div>
	}
</div>
