@model HutDetailsViewModel

@{
	ViewBag.Title = "Информация за хижа";
}

<link rel="stylesheet" href="~/css/Hut/detailsStyle.css" />

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="card">
	@if (!string.IsNullOrEmpty(Model.ImageUrl))
	{
		<img src="@Model.ImageUrl" class="card-img-top" alt="Hut Image">
	}
	<div class="card-body">
		<h5 class="card-title text-center">@Model.Name</h5>
		<p class="card-text">
			<strong>Описание:</strong> @Model.Description
		</p>
		<p class="card-text">
			<strong>Работно време:</strong> @Model.WorkTime
		</p>
		<p class="card-text">
			<strong>Места:</strong> @Model.Places
		</p>
		<p class="card-text">
			<strong>Къмпинг:</strong> @Model.Camping
		</p>
		<p class="card-text">
			<strong>Надморска височина:</strong> @(Model.Altitude.HasValue ? Model.Altitude.Value.ToString() : "N/A") метра
		</p>
		<p class="card-text">
			<strong>Баня:</strong> @Model.HasBathroom
		</p>
		<p class="card-text">
			<strong>Тоалетна:</strong> @Model.HasToilet
		</p>
		<p class="card-text">
			<strong>Столова:</strong> @Model.HasCanteen
		</p>
		@if (!string.IsNullOrEmpty(Model.Phone))
		{
			<p class="card-text">
				<strong>Телефон:</strong> @Model.Phone
			</p>
		}
		<p class="card-text">
			<strong>Планина:</strong> @Model.MountainName
		</p>
		<p class="card-text">
			<i class="fa-solid fa-route" style="color: #74C0FC;"></i> 
			<strong>Маршрути:</strong>
			<a asp-controller="Hut" asp-action="GetRoutesToHut" asp-route-id="@Model.Id" class="btn-details">Виж</a>
		</p>
	</div>
	@if (User.IsAdmin() || User.IsMountaineer() || User.IsTourAgency())
	{
		<div class="card-footer">
			<a asp-action="All" class="btn btn-secondary">Назад</a>
			<a asp-controller="Hut" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактирай</a>
			<a asp-controller="Hut" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Изтрий</a>
		</div>
	}
</div>
