@model WaterfallDetailsViewModel

@{
	ViewData["Title"] = "Детайли за водопада";
}

<div class="container py-4">
	<div class="row">
		<div class="col-md-6">
			<h2>@Model.Name</h2>
			<p>@Model.Description</p>
			<p>Планина: @Model.MountainName</p>
			<p>Маршрути: <a asp-controller="Waterfall" asp-action="GetRoutesToWaterfall" asp-route-id="@Model.Id" class="btn btn-primary">Виж</a></p>
            @if (User.IsAdmin() || User.IsMountaineer() || User.IsTourAgency())
			{
				<div class="btn-group" role="group" aria-label="Управление">
					<a asp-controller="Waterfall" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редакция</a>
					<a asp-controller="Waterfall" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Изтриване</a>
				</div>
			}
		</div>
		<div class="col-md-6">
			<img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid">
		</div>
	</div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    h2 {
        color: #007bff;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-danger:hover {
        background-color: #bd2130;
        border-color: #bd2130;
    }

    img {
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
</style>