@model IEnumerable<AllPeaksViewModel>

@{
	ViewBag.Title = "Върхове";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<table class="table">
	<thead>
	<tr>
		<th class="text-center">Име</th>
		<th class="text-center">Височина</th>
		<th class="text-center">Планина</th>
		<th class="text-center">Детайли</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var peak in Model)
	{
		<tr class="@(peak.Id % 2 == 0 ? "even-row" : "odd-row")">
			<td class="text-center">@peak.Name</td>
			<td class="text-center">@peak.Altitude</td>
			<td class="text-center">@peak.MountainName</td>
			<td class="text-center">
				<a asp-action="Details" asp-route-id="@peak.Id" class="btn btn-outline-primary">Детайли</a>
			</td>
		</tr>
	}
	</tbody>
</table>

<a asp-controller="Mountain" asp-action="AddPeak" class="btn btn-primary btn-group-sm fw-bold">Добави връх</a>

<style>
	.even-row {
		background-color: #f2f2f2;
	}

	.odd-row {
		background-color: #ffffff;
	}

	.table th,
	.table td {
		border: 1px solid #ddd;
		padding: 8px;
	}
</style>