@model RouteDeleteViewModel

@{
	ViewBag.Title = "Изтрий маршрута";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<link rel="stylesheet" href="~/css/deleteStyle.css" />

<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title text-center">@Model.Name</h3>
				<p>@Model.StartingPoint</p>
				<p>@Model.MountainName</p>
				<p>@Model.Description</p>
				<img src="@Model.ImageUrl" class="card-img-top" alt="Article Image">
				<p class="text-danger mt-3">Сигурен ли си, че искаш да си изтриеш маршрута?</p>
			</div>
			<div class="card-footer">
				<form asp-action="DeleteConfirmed" method="post">
					<input type="hidden" asp-for="Id" />
					<button type="submit" class="btn btn-danger">Изтрий</button>
					<a asp-action="All" class="btn btn-secondary">Отмени</a>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}