@model IEnumerable<AllPeaksViewModel>

@{
	ViewBag.Title = "Върхове в планината";
}

<h2 class="text-center">@ViewBag.Title</h2>

<hr/>

<link rel="stylesheet" href="~/css/Peak/allPeaksInMountainStyle.css" />

@if (!Model.Any())
{
	<h3 class="text-center">Не са намерени върхове за конкретната планина</h3>
}
else
{
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th class="text-center">Име</th>
			<th class="text-center">Височина</th>
			<th class="text-center">Детайли</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var peak in Model)
		{
			<tr class="@(peak.Id % 2 == 0 ? "even-row" : "odd-row")">
				<td class="text-center">@peak.Name</td>
				<td class="text-center">@peak.Altitude</td>
				<td class="text-center">
					<a asp-action="Details" asp-controller="Peak" asp-route-id="@peak.Id" class="btn btn-outline-primary">Детайли</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
}
